.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    .outerbox{
        border:  1px solid rgb(250, 11, 186);;
        height: 500px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background-color: rgb(250, 11, 186);
        
        .innerbox1{
            border: 26px solid white;
            height: 300px;
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            
            #dot{
                
                position: relative;
                left: 200px;
                bottom: 140px;
                font-size: 130px;
                color: white;

            }
            .innerbox2{
                 border: 26px solid white;
                 height: 140px;
                 width: 140px;
                 border-radius: 100%;
                 margin-right: 20px;

            }

        }
        
    }
}